.Smain{
    flex-basis: 20%;
    border-bottom: blanchedalmond solid;
    margin-top: 20px;
    position: relative;
}

.search{
    border: 0;
    height: 30px;
    width: 80%;
    font-size: larger;
    text-align: center;
    font-family: 'Lemonada', cursive;
    display: block;
    margin: auto;
    outline: 0;
    border-width: 0 0 2px ;
    background-color:#133b5c ;
    color:var(--textColor); 
}

.search:focus{
    border: 0;
}

.suggestions{
    position: absolute;
    width: 80%;
    margin: auto;
    background-color: var(--bgMusicInfo);
    z-index: 2;
    left: 10%;
}
.sugsongs{
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: var(--textColor);

}
.sugsongs:hover{
    box-shadow: 0 0 10px #1e8ce6,0 0 10px #093050,0 0 10px #051624,0 0 10px #051624 ;
    cursor: pointer;
}