.Smain{
    flex-basis: 20%;
    border-bottom: blanchedalmond solid;
    margin-top: 20px;
    display: relative;
}

.search{
    border: 0;
    height: 30px;
    width: 80%;
    font-size: larger;
    text-align: center;
    font-family: 'Lemonada', cursive;
    display: block;
    margin: auto;
    outline: 0;
    border-width: 0 0 2px ;
}

.search:focus{
    border: 0;
}

.suggestions{
    width: 80%;
    height: 200px;
    display: absolute;
    margin: auto;
    border: palegoldenrod solid;
}